<div class="parent" >
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child" >
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
  <img src="http://holderjs.com/images/holder_sky.png" alt="..." class="child">
</div>

