<div class="row">

    <div class="col-sm-6" style="padding-left: 50px;">
        <div class="container">
            <h2>this is store popular fruit items</h2>
            <br>
            <ul>
                <li ng-repeat='item in items'>{{ item }}</li>
                <!--  -->
            </ul>
        </div>
    </div>
    <div class="col-sm-6">
            <img src="https://cdn.thinglink.me/api/image/638679981458718722/1240/10/scaletowidth" alt="fruits" style="width:170px;height:170px;margin-left:15px; ">
    </div>

</div>